*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  color: $text-main;
}

img{
  width: 100%;
  height: auto;
}

.hero-img{
  display: none;
}

.container
{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.unstyled-list{
  margin: 0;
  padding: 0;
  list-style: none;
}